/* 全局设置 */
html{
	font-family: "楷体";
	font-size: 1.41421356237em; /* 确实是根号2... */
}

/* 链接设置 */
a{font-weight: 700;}
a:link{color: #c45dff;}
a:visited{color: #c45dff;}
a:hover{color: #ff0000;}
a:active{color: #ffd0d0;}

div:yellow{
	color: yellow;
}